<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>list</h1>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="personal.name" name="name">
                </div>
                <div class="form-group">
                    <label for="">Last:</label>
                    <input type="text" class="form-control" id="last" [(ngModel)]="personal.last" name="last">
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>